@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    
    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}

<div class="container gem-stone-details">
	<h1>@CurrentPage.Family</h1>
	<h2>@CurrentPage.Color</h2>
</div>